# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm / VS Code / other IDEs
.vscode/
.idea/
*.swp

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

